*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f6f8fa;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
img{
    width:100%;
    display:block;
    margin:30px auto 20px;
}

.container{
    width:30%;
    text-align:center;
}

.container img{
    width: 30%;
    height: 10vh;
}

h1{
    margin-bottom:30px;
    font-size:40px;
    color:#24292f;
}

.login-box{
    background:#fff;
    border:1px solid #d0d7de;
    border-radius:6px;
    padding:20px;
    text-align:left;
}

label{
    font-size:14px;
    font-weight:500;
}

input{
    width:100%;
    padding:10px;
    margin:8px 0 16px;
    border:1px solid #d0d7de;
    border-radius:6px;
    outline:none;
}

input:focus{
    border-color:#0969da;
    box-shadow:0 0 5px rgba(9,105,218,.3);
}

.password{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.password a{
    /* text-decoration:none; */
    color:#0969da;
    font-size:13px;
}

button{
    width:100%;
    padding:10px;
    background:#2da44e;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
}

button:hover{
    background:#218739;
}

.signup-box{
    margin-top:18px;
    background:#fff;
    border:1px solid #d0d7de;
    border-radius:6px;
    padding:16px;
    font-size:14px;
}

.signup-box a{
    text-decoration:none;
    color:#0969da;
}
.end{
    margin-top:60px;
    text-align:center;
    /* background:#cb1010; */
    font-size:20px;
    color:#57606a;
    justify-content:space-around;



}
.master{
height: 100vh;
width: 100%;
display: flex;
}

.img-section{
background-image: url(./bg.webp);
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
width: 50%;
color: white
}
.img-section h1{
    color: white;
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    font-size: 42px;
}

.img-section p{
    display: flex;
    width: 100%;
    justify-content:start;
    margin-top: 10px;
    margin-left: 135px;
    align-items: center;
    /* background-color: aqua; */
    font-size: 18px;

}

.text-section{
    width: 50%;
    height: 100vh;
    /* background-color: #0969da; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  

}
.info{
    width: 70%; 
    height: 100vh;
    /* background-color: #0969da; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.info h3{
    font-size:35px;
    margin-top: 60px;
    margin-bottom: 30px;

}

.info label{
    /* background-color: #218739; */
    font-size: 20px;
    font-weight: bold;
    margin-top:20px;
}

.info input{
    padding: 10px;
    font-size: 15px;

}

.info button{
    margin-top: 5px;
    background-color: #eeeef0;
    border: solid silver 1px;
    color: black;
}

.info p{
    font-size: 12px;
    margin-top: -10px;
}

.footer{
    margin-top: 20px;
}

.footer p{
    margin-top: 8px;
}

.master button:hover{
    background-color: #2da44e;
}